name: Build Courier in SP, India and Ireland (Push Tag)

on:
  push:
    tags:
      - '*.*.*-staging'
      - '*.*.*'

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      repository_name: ${{ steps.setup.outputs.repository_name }}
    steps:
      - name: Setup outputs
        id: setup
        run: |
          export GITHUB_REPOSITORY_NAME="${GITHUB_REPOSITORY#$GITHUB_REPOSITORY_OWNER/}"
          {
            echo "repository_name=${GITHUB_REPOSITORY_NAME}"
          } | tee -a "${GITHUB_OUTPUT}"

          {
            echo "### Workflow Outputs"
            echo "| Variable        | Description     |"
            echo "| --------------- | --------------- |"
            echo "| repository_name | Repository name |"
          } | tee -a "${GITHUB_STEP_SUMMARY}"
    
  determine_ecr:
    runs-on: ubuntu-latest
    needs: [setup]
    outputs:
      ecr_secret: ${{ steps.ecr_vars.outputs.ECR_SECRET }}
      image_repo: ${{ steps.ecr_vars.outputs.IMAGE_REPOSITORY }}
      image_name: ${{ steps.ecr_vars.outputs.IMAGE_NAME }}
    steps:
      - name: Determine ECR Registry and Image Name
        id: ecr_vars
        run: |
          TAG="${{ github.ref_name }}"
          TAG_LOWER=$(echo $TAG | tr '[:upper:]' '[:lower:]')
          
          if [[ "${TAG_LOWER}" == *"-india"* ]]; then
            ECR_SECRET="ECR_INDIA"
            IMAGE_REPO="${{ secrets.ECR_INDIA }}"
            IMAGE_NAME="courier"
          elif [[ "${TAG_LOWER}" == *"-ire"* ]]; then
            ECR_SECRET="ECR_IRE"
            IMAGE_REPO="${{ secrets.ECR_IRE }}"
            IMAGE_NAME="rp-courier-rapidpro"
          else
            ECR_SECRET="ECR_SP"
            IMAGE_REPO="${{ secrets.ECR_SP }}"
            IMAGE_NAME="push-courier"
          fi
          
          echo "ECR_SECRET=$ECR_SECRET" | tee -a "${GITHUB_OUTPUT}"
          echo "IMAGE_REPOSITORY=$IMAGE_REPO" | tee -a "${GITHUB_OUTPUT}"
          echo "IMAGE_NAME=$IMAGE_NAME" | tee -a "${GITHUB_OUTPUT}"
          echo "Selected ECR: $ECR_SECRET, Image: $IMAGE_NAME"

  call-workflow:
    uses: weni-ai/actions-workflows/.github/workflows/reusable-workflow.yaml@main
    needs:
      - setup
      - determine_ecr
    with:
      image_repository: rapidpro-courier
      dockerfile: "docker/Dockerfile"
      target_repository: weni-ai/kubernetes-manifests-platform
      target_application: rapidpro/courier
      target_patch_file: deployment.json
    secrets: inherit
